{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": "loopback",
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 8,
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  },
  "globals": {
    "document": false,
    "grecaptcha": false,
    "expect": false,
    "google": false,
    "Headway": false,
    "Stripe": false
  },
  "rules": {
    "max-len": "off",
    "space-before-function-paren": "off",
    "camelcase": 0,
    "new-cap": 0,
    "no-mixed-operators": 0,
    "no-nested-ternary": 0,
    "no-console": 0,
    "linebreak-style": 0,
    "prefer-const": 0,
    "no-useless-escape": 0,
    "no-param-reassign": [2, {
      "props": false
    }],
    "prefer-destructuring": ["error", {
      "array": false,
      "object": false
    }, {
      "enforceForRenamedProperties": false
    }],
    "object-curly-spacing": ["error", "always"]
  }
}
